<!DOCTYPE html>
<html>
<head lang="en">
    <title>BBTV</title>
    <link rel="shortcut icon" href="/assets/owl-small.png"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/stylesheets/reset.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/main.css"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="container">

    <h1 class="main-title">BBTV!</h1>

    <div id="iframe" class="iframe"></div>

    <h1 class="main-footer">Made with ♥ by ITK</h1>

    <script>
        window.addEventListener("load", function() {
            var getHash = function getHash() {
                var hash = window.location.hash;
                return hash.substring(1); // remove #
            };

            if(getHash() !== 'debug') {
       /*         setInterval(function () {
                    $( "#iframe" ).load( "/randomChannel" );
                }, 2000); */
            }

            $( "#iframe" ).load( "/randomChannel" );
        });
    </script>

</div>
<div class="bn-container">
    <img width="100px" src="assets/images/breakingnews.png"></img><p class="bn" id="bn"></p>
</div>

<!-- Scripts -->
<script src="/libs/jquery.min.js"></script>
<script>
    function breakingNews() {
        $.get( "bn", function( data ) {
            $('#bn').text(data);
        });
    }

    setInterval(breakingNews, 1000);
</script>
</body>
</html>
