<!DOCTYPE html>
<html>
<head lang="en">
    <title>BBTV</title>
    <link rel="shortcut icon" href="/assets/owl-small.png"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/assets/stylesheets/reset.css"/>
    <link rel="stylesheet" href="/assets/stylesheets/main.css"/>
</head>
<body>
<div class="container">

    <h1 class="main-title">BBTV!</h1>

    <div id="iframe" class="iframe" th:text="${urlChannel}"></div>

    <h1 class="main-footer">Made with ♥ by ITK</h1>

    <script>
        window.addEventListener("load", function() {
            $( "#iframe" ).load( $( "#iframe" ).text() );
        });
    </script>

</div>

<!-- Scripts -->
<script src="/libs/jquery.min.js"></script>

</body>
</html>
