body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.bn-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #A31012;
  color: white;
  vertical-align: middle;
}

.bn-container img {
  margin: 20px;
}

.bn-container * {
  vertical-align: middle;
}

.center {
  text-align: center;
}
.bn {
  display: inline;
  font-size: 38px;
  vertical-align: middle;
  height: 100%;
line-height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

  .main-title {
    font-size: 1.8em;
    text-align: center;
    background-color: #2a2a2a;
    color: #FEEA77;
    padding: 15px;
  }

  .iframe {
    width: 100%;
    height: 100%;
  }
  
  .main-footer {
    font-size: 0.8em;
    text-align: center;
    background-color: #2a2a2a;
    color: #FEEA77;
    padding: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .title {
    font-size: 68px;
    font-weight: bold;
    text-align: center;
  }

  .mosaic {
    display: inline-block;
    margin: 20px;
  }

  .mosaic .image {
    width: 200px;
    height: 200px;
  }

.mosaic .text,  {
  color: #a94442;
   text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.mosaic a {
  text-decoration: none;

}
